mat-card {
  min-height: calc(100vh - 8.75rem);
}

mat-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

mat-card-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 -1rem 1rem;
  padding: .8rem 0;
  box-shadow: rgba(50, 50, 93, 0.15) 0 .12rem .31rem -.06rem, rgba(0, 0, 0, 0.12) 0 .06rem 0.19rem -.06rem;
  background-color: rgba(131, 148, 166, 0.13);
  color: #778899;
}

.material-icons_color {
  color: #5f7183;
}

.fund-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__btn {
    padding-right: .3rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.expenses-table {
  width: 100%;
}

.mat-column-actions {
  width: 5rem;
  text-align: center;
}

.fund-card-subtitle {
  padding-right: .2rem;
  font-weight: 500;
}

.fund-title {
  margin: 0;
  text-transform: uppercase;
  color: #3f51b5;
  font-weight: 600;
}

.expenses-table-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-bottom: .3rem;
  font-size: .9rem;
  color: rgba(162, 162, 162, 0.85);

  &__total {
    font-size: .8rem;
    padding-left: .2rem;
  }
}
