<mat-card-title>
  <div class="fund-title-container" (clickOutside)="closeEditFundName()">
      <span class="fund-title-container__btn" (click)="back()">
        <mat-icon color="primary">arrow_back</mat-icon>
      </span>
    <div *ngIf="isEditFundName; else fundNameBlock">
      <mat-form-field appearance="legacy" class="fund-title-container__input">
        <input matInput placeholder="Fund name" [formControl]="fundName" required>
        <mat-error *ngIf="fundName.invalid">Please, enter fund name</mat-error>
      </mat-form-field>
    </div>
    <ng-template #fundNameBlock>
      <div class="fund-title-container__name">
        <h2 class="fund-title">{{fund?.name}}</h2>
        <button
          mat-icon-button
          color="primary"
          class="edit-name-btn"
          (click)="onEditFundName($event)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </ng-template>
  </div>

  <button
    mat-fab
    color="primary"
    matTooltip="Add new expenses"
    matTooltipPosition="above"
    aria-label="Button add new expenses"
    (click)="openAddModal()"
  >
    <mat-icon>add</mat-icon>
  </button>
</mat-card-title>
<mat-card-subtitle>
  <div>
    <span class="fund-card-subtitle">Budget</span>
    <span>₴{{getCurrentAmount(fund?.plannedAmount || 0)}}</span>
  </div>
  <div>
    <span class="fund-card-subtitle">Balance</span>
    <span>₴{{getCurrentAmount(fund?.currentAmount || 0)}}</span>
  </div>
</mat-card-subtitle>
<mat-card-content>
  <h4 class="expenses-table-title">
    <span>Expenses ₴{{getExpensesAmount()}}</span>
    <span class="expenses-table-title__total">Total: {{fund?.expenses?.length ?? 0}}</span>
  </h4>
  <div class="mat-elevation-z8">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 expenses-table"
    >
      <ng-container matColumnDef="recipient">
        <th mat-header-cell *matHeaderCellDef>Recipient</th>
        <td mat-cell *matCellDef="let element"> {{element.recipient}} </td>
      </ng-container>
      <ng-container matColumnDef="paymentAmount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">
          {{getCurrentAmount(element.paymentAmount || 0)}}
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            aria-label="Edit expenses button"
            (click)="openEditModal(element)"
          >
            <mat-icon class="material-icons_color">edit</mat-icon>
          </button>
          <button
            mat-icon-button
            aria-label="Remove expenses button"
            (click)="openRemoveModal(element)"
          >
            <mat-icon class="material-icons_color">delete-forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          <div class="table-empty">No expenses</div>
        </td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="tablePageSize"
                   showFirstLastButtons
                   aria-label="Select page">
    </mat-paginator>
  </div>
</mat-card-content>
